.top-container,
.top-container * {
  box-sizing: border-box;
}
.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.fickleflight-logo {
  flex-shrink: 0;
  width: 174px;
  height: 33px;
  position: relative;
  overflow: hidden;
}
.symbols {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0.53px;
  overflow: visible;
}
.navigation-right {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.navigation-menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.explore {
  color: #1262af;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.search {
  color: #424242;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.hotels {
  color: #424242;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.offers {
  color: #424242;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.account-section {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.notification-bell {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.profile-picture {
  border-radius: 38px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  object-fit: cover;
}
